body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    
  }
  
  button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #e0e0e0;
  }
  
  #red {
    background-color: red;
  }
  
  #green {
    background-color: green;
  }
  
  #blue {
    background-color: blue;
  }